body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.login-page{
    height: 100vh;
    display: flex;
}

.login-left{
    background-image: url(images/login-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.login-left-content{
    /* bottom:102px */
    margin-bottom: 102px;   
}

.login-left-content > h1{
    color: #FFF;
    font-family: Inter;
    font-size: 56.694px;
}